* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* BUTTONS */

.search-btn {
    padding: 8px;
    background-color: #fff;
    flex: 1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: black;
}


/* MAIN WRAPPER FOR THE PAGE */
.container {
    margin: 28px auto 28px auto;
    max-width: 1280px;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    margin-top: 32px;
    
}


/* HEADER */
.header__title {
    font-size: 48px;
    font-family: Vogue, serif, sans-serif;
}

.header__subtitle {
    font-style: italic;
}



/* SIDEBAR */

.categories {
    margin-top: 28px;
}


.category__home {
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
    padding: 16px 16px 16px 2px;
}

.category__home:hover {
    text-decoration: underline;
}


.category__item {
    padding: 16px 16px 16px 2px;
}


.category__item:hover {
    background-color: #d2d2d2;
    cursor: pointer;
}




/* FORM */
.form {
    margin-top: 18px;
}

.form__input {
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form__control {
    width: 256px;
    display: flex;
}



/* TABLE */


.table {
    margin: 0px 16px 16px 16px;

}

.table__heading {
    color: #000;
    background-color: #eaecf0;
    width: 182.86px;
    font-size: 18px;
    padding: 13px;
    border: 2px solid #d2d2d2;
    text-align: center;
}
 
.table__data {
    color: #000;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #d2d2d2;
    text-align: center;
}


.table__image {
    width: 26px;
    height: 40px;
    cursor: pointer;
}



/* MODAL */

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: rgba(0,0,0,0.4);
}

.modal__content {
    border: 2px solid #3a5774;
    width: 500px;
    height: 540px;
    position: relative;
    top: 50px;
    left: 428px;
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
    overflow: auto;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-bottom: 16px;
}

.modal__title {
    font-weight: 400;
}

.modal__btn {
    width: 11px;
    height: 11px;
    color: red;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}



.modal-book {
    padding: 8px;
    display: flex;
    flex-direction: row;
    height: 200px;

}


.modal-book__img {
    margin: 16px;
}

.modal-book__info {
    margin: 16px;
}

.modal-book__title {
    font-size: 20px;
    margin-bottom: 10px;
}

.modal-book__author {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 10px;
}


.modal-book__description {
    line-height: 1.4em;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
}

.modal__categories {
    width: 142px;
    margin: 4px;
}

.modal__category {
    padding: 8px 8px 8px 28px;
    cursor: pointer;
    text-align:left;
    position: relative;
}

.modal__category span {
    display: inline-block;
    margin-left: 8px;
    
}

.modal__category i {
    position: absolute;
    left: 10px;
    top: 12px;

}

.modal__category:hover {
    background-color: #d2d2d2;
}

.btn-done {
    padding: 4px 8px 4px 8px;
    margin-left: 40px;
    margin-top: 24px;
    cursor: pointer;
}



/* BOOK CATEGORIES */

.category {
    margin-left: 68px;
}


.category__title {
    margin-bottom: 20px;
    font-weight: 500;
}


.book--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.book-item {
    margin-right: 64px;
    margin-bottom:84px ;
    width: 128px;
    height: 250px;
}

.book-item__title {
    font-size: 13px;
}

.book-item__authors {
    font-size: 11px;
    color: gray;
}

.book-item--remove {
    font-size: 11px;
    color: gray;
    font-style: italic;
    margin-top: 8px;
}

.book-item--remove:hover {
    text-decoration: underline;
    color: red;
    cursor: pointer;
}